<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NamDinh_QLBN.Properties.Settings.NamDinh_QLBNConnectionString" connectionString="Data Source=TOMTIT;Initial Catalog=NamDinh_QLBN;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
